nav {
    position: fixed;
    z-index: 100;
}

.sec_part {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    padding-top: 10px;


}


.sec_part a {
    text-decoration: none;
    color: black;


}

.navbar-brand {
    padding: 1px 8px;
    color: black;
    border: 3px solid black;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;
    outline: 3px solid #ec0027;

}



.navbar-toggler {
    border: none;
    font-size: 14px;

}

.offcanvas {
    margin-top: 72px;

}

.flag_img {
    width: 30px;
    height: 15px;
    padding-left: 10px;
}