#carouselExampleFade {
    margin-top: 40px;
    width: 100vw;
}

.carousel-item img {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover;
}

.carousel_img {
    position: relative;
    object-fit: cover;
    width: 100vw !important;
}

.first_content,
.sec_content,
.third_content {


    position: absolute;
    /* background-color: rgb(0, 0, 0, 0.2); */
    color: white !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 4px;
    width: 600px;
}

.first_content h1,
.sec_content h1,
.third_content h1 {
    font-size: 80px;
    font-weight: bolder;
}

.first_content button,
.sec_content button,
.third_content button {
    font-size: 20px;
    color: white;
    background-color: #000;
    border: 3px solid white;
    height: 60px;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 35%;


}

.sec_content {

    left: 20%;
    color: #000;
}

.sec_content button {
    color: #000;
    background-color: white;
    border: 3px solid black;
}

.first_content button:hover,
.sec_content button:hover,
.third_content button:hover {
    background-color: #ec0027;
    border-color: #ec0027;
}

.sec_content button:hover {
    color: white;
}

.third_content {
    color: black;
}